<!--
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Welcome</h4>
                        </div>
                        <button type="submit" class="btn btn-info" (click)="signOut()">Sign out</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<div class="container">

    <header class="header">
      <app-dashboard-header></app-dashboard-header>
    </header>
  
    <section class="sidebar">
      <app-dashboard-sidebar></app-dashboard-sidebar>
    </section>
  
    <main class="main">
      <app-dashboard-main style="overflow: hidden;"></app-dashboard-main>
    </main>
    
  </div>