<div class="container" *ngIf="yearlyTodoList">
  <div class="mt-4 mb-4">
    <h3>My goals in 2023</h3>
  </div>


  <mat-card class="example-card">
    <mat-card-header class="header-container mb-2">
      <div class="header-content d-flex flex-row">
        <img mat-card-avatar src="././././assets/images/goal.png" alt="Goal avatar" class="goal-avatar">
        <div class="title-subtitle">
          <mat-card-title>Yearly goals</mat-card-title>
          <mat-card-subtitle>Maximum 3 goals</mat-card-subtitle>
        </div>
      </div>

      <div *ngIf="yearlyEditingMode" class="example-button-container">
        <button (click)="onAddItem()" mat-mini-fab color="primary" matTooltip="Add new goal">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <mat-progress-spinner class="example-margin" [color]="spinnerColor" [mode]="spinnerMode"
        [value]="spinnerYearlyValue" style="width: 10em; height: 8em;">
      </mat-progress-spinner>
    </mat-card-header>

    <mat-card-content>
      <mat-list role="list">

        <mat-list-item *ngFor="let yearlyGoal of yearlyTodoList" role="listitem" class="task-list-item">
          <div class="item-content">{{ yearlyGoal.description }}</div>

          <mat-chip-list>
            <mat-chip *ngIf="yearlyGoal.isCompleted && !yearlyEditingMode">Completed</mat-chip>
            <mat-chip *ngIf="!yearlyGoal.isCompleted && !yearlyEditingMode">Uncompleted</mat-chip>
            <mat-chip *ngIf="yearlyGoal.isCompleted && yearlyEditingMode">Uncomplete</mat-chip>
            <mat-chip *ngIf="!yearlyGoal.isCompleted && yearlyEditingMode">Complete</mat-chip>
            <mat-chip class="delete-chip" *ngIf="yearlyEditingMode"
              (click)="onDeleteGoal('yearly', yearlyGoal)">Delete</mat-chip>
          </mat-chip-list>
        </mat-list-item>

        <div [formGroup]="form">
          <div formArrayName="items">
            <div *ngFor="let goal of newYearlyGoals.controls; let i = index" [formGroupName]="i" class="d-flex">
              <input matInput placeholder="Description" formControlName="description" type="text" class="description">
              <mat-form-field class="new-goal">
                <input matInput [matDatepicker]="picker" placeholder="Start date" formControlName="startDate" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-hint>MM/DD/YYYY</mat-hint>
              </mat-form-field>
              <mat-chip (click)="onDeleteFormItem(i)" class="mt-2">Delete</mat-chip>
            </div>
          </div>
        </div>

      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="!yearlyEditingMode" mat-button (click)="onEditListItem('yearly')">Edit</button>
      <button *ngIf="yearlyEditingMode" mat-button (click)="onSaveGoal(newYearlyGoals)">Save</button>
      <button *ngIf="yearlyEditingMode" mat-button (click)="onEditListItem('yearly')">Cancel</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card mt-3 mb-3">
    <mat-card-header class="header-container">
      <div class="header-content d-flex flex-row">
        <img mat-card-avatar src="././././assets/images/goal.png" alt="Goal avatar" class="goal-avatar">
        <div class="title-subtitle">
          <mat-card-title>Monthly goals</mat-card-title>
          <mat-card-subtitle>Maximum 4 goals</mat-card-subtitle>
        </div>
      </div>

      <div *ngIf="monthlyEditingMode" class="example-button-container">
        <button mat-mini-fab color="primary" matTooltip="Add new goal">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <mat-progress-spinner class="example-margin" [color]="spinnerColor" [mode]="spinnerMode"
        [value]="spinnerMonthlyValue" style="width: 10em; height: 8em;">
      </mat-progress-spinner>
    </mat-card-header>

    <mat-card-content>
      <mat-list role="list">
        <mat-list-item *ngFor="let monthlyGoal of monthlyTodoList" role="listitem" class="task-list-item">
          <div *ngIf="!monthlyEditingMode" class="item-content">{{ monthlyGoal.description }}</div>
          <input *ngIf="monthlyEditingMode" [(ngModel)]="monthlyGoal.description" class="item-content-input" />

          <mat-chip-list>
            <mat-chip *ngIf="monthlyGoal.isCompleted && !monthlyEditingMode">Completed</mat-chip>
            <mat-chip *ngIf="monthlyGoal.isCompleted && monthlyEditingMode">Uncomplete</mat-chip>
            <mat-chip *ngIf="!monthlyGoal.isCompleted && monthlyEditingMode">Complete</mat-chip>
            <mat-chip class="delete-chip" *ngIf="monthlyEditingMode"
              (click)="onDeleteGoal('monthly', monthlyGoal)">Delete</mat-chip>
          </mat-chip-list>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="monthlyEditingMode" mat-button>Add</button>
      <button *ngIf="!monthlyEditingMode" mat-button (click)="onEditListItem('monthly')">Edit</button>
      <button *ngIf="monthlyEditingMode" mat-button>Save</button>
      <button *ngIf="monthlyEditingMode" mat-button (click)="onEditListItem('monthly')">Cancel</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card mt-3 mb-3">
    <mat-card-header class="header-container">
      <div class="header-content d-flex flex-row">
        <img mat-card-avatar src="././././assets/images/goal.png" alt="Goal avatar" class="goal-avatar">
        <div class="title-subtitle">
          <mat-card-title>Weekly goals</mat-card-title>
          <mat-card-subtitle>Maximum 2 goals</mat-card-subtitle>
        </div>
      </div>

      <div *ngIf="weeklyEditingMode" class="example-button-container">
        <button mat-mini-fab color="primary" matTooltip="Add new goal">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <mat-progress-spinner class="example-margin" [color]="spinnerColor" [mode]="spinnerMode"
        [value]="spinnerWeeklyValue" style="width: 10em; height: 8em;">
      </mat-progress-spinner>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item *ngFor="let weeklyGoal of weeklyTodoList" role="listitem" class="task-list-item">
          <div *ngIf="!weeklyEditingMode" class="item-content">{{ weeklyGoal.description }}</div>
          <input *ngIf="weeklyEditingMode" [(ngModel)]="weeklyGoal.description" class="item-content-input" />

          <mat-chip-list>
            <mat-chip *ngIf="weeklyGoal.isCompleted && !weeklyEditingMode">Completed</mat-chip>
            <mat-chip *ngIf="weeklyGoal.isCompleted && weeklyEditingMode">Uncomplete</mat-chip>
            <mat-chip *ngIf="!weeklyGoal.isCompleted && weeklyEditingMode">Complete</mat-chip>
            <mat-chip class="delete-chip" *ngIf="weeklyEditingMode"
              (click)="onDeleteGoal('weekly', weeklyGoal)">Delete</mat-chip>
          </mat-chip-list>
        </mat-list-item>
      </mat-list>

    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="weeklyEditingMode" mat-button>Add</button>
      <button *ngIf="!weeklyEditingMode" mat-button (click)="onEditListItem('weekly')">Edit</button>
      <button *ngIf="weeklyEditingMode" mat-button>Save</button>
      <button *ngIf="weeklyEditingMode" mat-button (click)="onEditListItem('weekly')">Cancel</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card mt-3 mb-3">
    <mat-card-header class="header-container">
      <div class="header-content d-flex flex-row">
        <img mat-card-avatar src="././././assets/images/goal.png" alt="Goal avatar" class="goal-avatar">
        <div class="title-subtitle">
          <mat-card-title>Daily todo</mat-card-title>
          <mat-card-subtitle>Maximum 15 tasks per day</mat-card-subtitle>
        </div>
      </div>

      <div *ngIf="dailyEditingMode" class="example-button-container">
        <button mat-mini-fab color="primary" matTooltip="Add new goal">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <mat-progress-spinner class="example-margin" [color]="spinnerColor" [mode]="spinnerMode"
        [value]="spinnerDailyValue" style="width: 10em; height: 8em;">
      </mat-progress-spinner>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item *ngFor="let dailyGoal of dailyTodoList" role="listitem" class="task-list-item">
          <div *ngIf="!dailyEditingMode" class="item-content">{{ dailyGoal.description }}</div>
          <input *ngIf="dailyEditingMode" [(ngModel)]="dailyGoal.description" class="item-content-input" />

          <mat-chip-list>
            <mat-chip *ngIf="dailyGoal.isCompleted && !dailyEditingMode">Completed</mat-chip>
            <mat-chip *ngIf="dailyGoal.isCompleted && dailyEditingMode">Uncomplete</mat-chip>
            <mat-chip *ngIf="!dailyGoal.isCompleted && dailyEditingMode">Complete</mat-chip>
            <mat-chip class="delete-chip" *ngIf="dailyEditingMode"
              (click)="onDeleteGoal('daily', dailyGoal)">Delete</mat-chip>
          </mat-chip-list>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="dailyEditingMode" class="btn btn-primary">Add</button>
      <button *ngIf="!dailyEditingMode" mat-button (click)="onEditListItem('daily')">Edit</button>
      <button *ngIf="dailyEditingMode" mat-button>Save</button>
      <button *ngIf="dailyEditingMode" mat-button (click)="onEditListItem('daily')">Cancel</button>

    </mat-card-actions>
  </mat-card>


</div>