<div class="login-background">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 login-card">
                <div class="card shadow">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-dark text-muted float-right">Login</h3>
                                    </div>
                                    <div class="col"><a href="/register">
                                        <h3 class="text-dark text-muted float-end">Join Us</h3></a>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="inputEmail" class="form-label">Email address</label>
                                <input type="email" class="form-control" name="email" [(ngModel)]="email">
                            </div>
                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" [(ngModel)]="password">
                            </div>
                            <button type="submit" class="btn btn-info" (click)="login()">Login</button>
                            <div class="row">
                                <a href="" class="text-dark">Forgot password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>