<div class="login-background">
    <div class="login-card">
        <div class="card shadow">
            <div class="card-body">
                <form #loginForm="ngForm" (ngSubmit)="login()">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <h3 class="text-muted float-right">Login</h3>
                            </div>
                            <div class="col"><a href="/register" class="login-page-link"><h3 class="float-end">Join Us</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email address</label>
                        <input type="email" id="email" class="form-control" name="email" placeholder="Email address" required ngModel>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" id="password" class="form-control" placeholder="Password" required ngModel name="password">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-info" [disabled]="loginForm.invalid">Login</button>
                        <a href="/forgot-password" class="login-page-link float-end">Forgot password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>