<div class="login-background">
    <div class="center">
        <div class="card shadow">
            <div class="card-body">
                <form #loginForm="ngForm" (ngSubmit)="login()">
                    <div class="d-flex justify-content-between mb-3">
                        <h3 class="text-muted">Login</h3>
                        <a href="/register" class="login-page-link">
                            <h3 class="float-end">Join Us</h3>
                        </a>
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email address</label>
                        <input type="email" id="email" class="form-control" name="email" placeholder="Email address"
                            required ngModel>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" id="password" class="form-control" placeholder="Password" required
                            ngModel name="password">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-info" [disabled]="loginForm.invalid">Login</button>
                        <a href="/forgot-password" class="login-page-link float-end">Forgot password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--

    <section class="login-background">
        <mat-card class="center card">
            <mat-card-header class="mb-3">
                <mat-card-title class="text-muted">Login</mat-card-title>
                <mat-card-title><a href="/register" class="login-page-link">Join Us</a></mat-card-title>
              </mat-card-header>
            <mat-card-content>
                <form #loginForm="ngForm" (ngSubmit)="login()">
    
                    <mat-form-field>
                        <input type="email" matInput placeholder="Email address">
                    </mat-form-field>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Password">
                    </mat-form-field>
                    <div>
                        <button type="submit" class="btn btn-info" [disabled]="loginForm.invalid">Login</button>
                        <a href="/forgot-password" class="login-page-link float-end">Forgot password?</a>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </section>
-->