.dialog {
    width: 65rem;
    height: 50rem;
}

.input-field {
    width: 13rem;
    margin-right: 1rem;

    .duration {
        width: 10rem;
    }
}

.input-field-minute {
    width: 6rem;
    margin-right: 1rem;
}

.important {
    padding-top: 0.8rem !important;
}

.mat-button-warning {
    color: #5F071C;
    background-color: #fbd0da;
}

.mat-button-warning:hover {
    background-color: #f58aa3;
    color: white;
}

.chip {
    width: 5rem;
    cursor: pointer;
    padding-left: 1.2rem;
}

.custom {
    width: 10rem !important;
}

.mat-icon {
    width: auto;
    padding-top: 0.1rem;
    padding-left: 0.2rem !important;
}

:host ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    line-height: unset !important;
}

:host ::ng-deep .tooltip-html {
    white-space: pre-line !important;
}