<div class="forgot-password-background">
    <div class="forgot-password-card">
        <div class="card shadow">
            <div class="card-body">
                <form #registerForm="ngForm" (ngSubmit)="forgotPassword()">
                    <div class="mb-3">
                        <h3 class="text-dark text-muted">Forgotten password</h3>
                    </div>
                    <mat-form-field class="mb-3 w-100">
                        <input type="email" matInput placeholder="Email address" ngModel name="email" email required
                            #emailInput="ngModel">
                        <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
                        <mat-error *ngIf="emailInput.hasError('required')">Field is required</mat-error>
                    </mat-form-field>
                    <div class="d-flex justify-content-between mt-3">
                        <button type="submit" class="btn btn-info" [disabled]="registerForm.invalid">Send link</button>
                        <div class="float-end">
                            <a href="/login" class="registration-link"><small>Back</small></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>