ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #82acad;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: #82acad !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #82acad;
}


:host ::ng-deep .completed .mat-checkbox-label {
  text-decoration-line: line-through;
  opacity: 0.6;
}