.current-page-title {
    font-size: 20px;
    margin-bottom: unset;
}

.menu-item {
    cursor: pointer;
    padding-top: 1rem;
    padding-left: 1rem;
}

.menu-item:hover {
    background-color: #b9cdce;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.container {
    padding-right: unset !important;
}

.current-page-title {
    padding-left: 1rem;
    text-align: center;
    font-size: 2rem;
}

.line {
    margin-top: 5px;
}

.dashboard-footer {
    bottom: 5%;
    position: absolute;
    width: calc(20% - 0.75rem);
}