.current-page-title {
    font-size: 20px;
    margin-bottom: unset;
}

.menu-item {
    cursor: pointer;
    height: 2.5em;
}

.menu-item:hover {
    background-color: #b9cdce;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.container {
    padding-right: unset !important;
}

.current-page-title {
    padding-left: 1rem;
    text-align: center;
    font-size: 2rem;
}

.line {
    margin-top: 5px;
}

.dashboard-footer {
    bottom: 5%;
    position: absolute;
    width: calc(20% - 0.75rem);
}

.selected {
    background-color: #b9cdce;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 2.5em;
    padding-left: 1.5rem;
}

.not-selected {
    padding-left: 0.5rem;
}

.flex-view {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    width: -webkit-fill-available;
}