<div class="container" *ngIf="!!menuOptions && !!curentMenuName">
  <div class="mt-2 pe-3">
    <p class="current-page-title">{{ curentMenuName }}</p>
    <hr class="line">
  </div>
  <div *ngFor="let menu of menuOptions" class="flex-view menu-item mt-5"  (click)="setCurrentMenu(menu.name)">
    <div class="flex-view align-items-baseline"
      [ngClass]="curentMenuName === menu.name ? 'selected' : 'not-selected'">
      <span><i [ngClass]="menu.icon"></i></span>
      <div class="ps-3">{{ menu.name }}</div>
    </div>
  </div>
  <div class="dashboard-footer">
    <div class="pe-3">
      <hr class="line">
    </div>
    <div class="flex-view  menu-item not-selected align-items-baseline" (click)="signOut()">
      <i class="fa-solid fa-right-from-bracket"></i>
      <div class="ps-3">Log out</div>
    </div>
  </div>
</div>