<div class="modal-header modal-height" *ngIf="options">
  <h4 class="modal-title">Add new friend</h4>

  <div class="modal-body">
    <mat-form-field class="example-form-field">
      <mat-label>Search for user</mat-label>
      <input matInput type="text" [(ngModel)]="value" (input)="filterOptions()">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <ng-container>
      <mat-list-item *ngFor="let option of filteredOptions">
        <div class="friend-item mt-1">
          <img src="assets/images/duck_with_knife.jpg" alt="Profile Picture">
          <div class="d-flex profile">
            <div>
              <div class="name" mat-line>{{ option.userName }}</div>
              <div mat-line>{{ option.birthday }}</div>
            </div>
            <mat-chip-list>
              <mat-chip class="add-friend-chip" (click)="onSendFriendRequest(option.id)">Add friend</mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </mat-list-item>
    </ng-container>
  </div>

</div>