<div class="modal-header">
  <h4 class="modal-title">Adding new friend</h4>
  <button  mat-raised-button color="primary" type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <p>Search for family- given names or usernames.</p>
  <div class="search me-2">
    <input type="text" placeholder="Search.." [(ngModel)]="filter" (input)="onSearchUser()">
    <span><i class="fa fa-search"></i></span>
</div>
</div>
<div class="modal-footer">
  <button type="button"  mat-raised-button color="primary" (click)="activeModal.close('Close click')">Close</button>
</div>