.letter-row {
    background-color: white;
    opacity: 65%;
    margin-top: 0.5rem;
    height: 2.8rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.letter-row:hover {
    opacity: 100%;
}

.small-header {
    margin: unset;
}

// Paginator styles
:host ::ng-deep .mat-paginator-container {
    background-color: #bed3d4;
}