<div class="container" *ngIf="!!currentMenuName" [ngSwitch]="currentMenuName">

  <app-dashboard-main-cards *ngSwitchDefault
    [dailyTodoList]="dailyTodoList"
    [weeklyTodoList]="weeklyTodoList"
    [monthlyTodoList]="monthlyTodoList"
    [yearlyTodoList]="yearlyTodoList">
  </app-dashboard-main-cards>

  <app-dashboard-main-profile *ngSwitchCase="'Profile'"></app-dashboard-main-profile>

  <app-dashboard-main-calendar *ngSwitchCase="'Calendar'"></app-dashboard-main-calendar>

  <app-dashboard-main-inbox *ngSwitchCase="'Inbox'"></app-dashboard-main-inbox>

  <app-dashboard-main-friends *ngSwitchCase="'Friends'"></app-dashboard-main-friends>

  <app-dashboard-main-templates *ngSwitchCase="'Templates'"></app-dashboard-main-templates>

  <app-dashboard-main-settings *ngSwitchCase="'Settings'"></app-dashboard-main-settings>
  
</div>