<div class="container">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Rank</h5>
      <p class="card-text">Beginner</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Studied hours</h5>
      <p class="card-text">56</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Coffee drank</h5>
      <p class="card-text">56</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Daily todo</h5>
      <p class="card-text">56</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Weekly goals</h5>
      <p class="card-text">56</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Monthly goals</h5>
      <p class="card-text">56</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Proudest moment of the week</h5>
      <p class="card-text">56</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Yearly goals</h5>
      <p class="card-text">56</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Activity</h5>
      <p class="card-text">56</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Deadlines</h5>
      <p class="card-text">56</p>
    </div>
  </div>

</div>