<div class="container">
  
  <div class="card">
    <div class="card-body centered-title">
      <h5 class="card-title text-center">Rank</h5>
      <p class="card-text stat text-center">{{ authUser?.role }}</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body centered-title">
      <h5 class="card-title">Studied hours</h5>
      <p class="card-text stat text-center">{{ studiedHours }}</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body centered-title">
      <h5 class="card-title">Coffee drank</h5>
      <p class="card-text stat text-center">{{ numberOfCoffee }}</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title centered">Daily todo</h5>
      <div class="scrollable-content">
        <p class="card-text">
          <app-todo-list [goalList]="dailyTodoList"></app-todo-list>
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title centered">Weekly goals</h5>
      <div class="scrollable-content">
        <p class="card-text">
          <app-todo-list [goalList]="weeklyTodoList"></app-todo-list>
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title centered">Monthly goals</h5>
      <div class="scrollable-content">
        <p class="card-text">
          <app-todo-list [goalList]="monthlyTodoList"></app-todo-list>
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title centered">Statistics</h5>
      <ul>
        <li class="mb-2">Daily goals: {{ numOfCompletedGoals.daily }}/{{ dailyTodoList.length }}</li>
        <li class="mb-2">Weekly goals: {{ numOfCompletedGoals.weekly }}/{{ weeklyTodoList.length }}</li>
        <li class="mb-2">Monthly goals: {{ numOfCompletedGoals.monthly }}/{{ monthlyTodoList.length }}</li>
        <li class="mb-2">Yearly goals: {{ numOfCompletedGoals.yearly }}/{{ yearlyTodoList.length }}</li>
      </ul>  
      <div>
        <p>Hours needed for the next rank: 68</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title centered">Yearly goals</h5>
      <div class="scrollable-content">
        <p class="card-text">
          <app-todo-list [goalList]="yearlyTodoList"></app-todo-list>
        </p>
      </div>
    </div>
  </div>
</div>