<div class="registration-background">
    <div class="registration-card">
        <div class="card shadow">
            <div class="card-body">
                <form #registerForm="ngForm">
                    <div class="mb-3">
                        <h3 class="text-dark text-muted">Registration</h3>
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="email" [(ngModel)]="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="password" required>
                    </div>
                    <button type="submit" class="btn btn-info" (click)="register()" [disabled]="registerForm.invalid">Register</button>
                    <div class="">
                        <a href="/login" class="registration-link"><small>Already have an existing account?</small></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>