@import '~@angular/material/theming';

// Be sure that you only ever include mat-core mixin once!
// it should not be included for each theme.
@include mat-core();

$main: (
    600: #7da2a4,
    700: #72989a,
    800: #688f91,
    900: #557e80,
    contrast: (
        600: white,
        700: white,
        800: white,
        900: white
    )
);

$error: (
    600: #fbd0da,
    700: #5F071C,
    800: #4C0516,
    900: #5F071C,
    contrast: (
        600: white,
        700: white,
        800: white,
        900: white,
    )
);

// mandatory stuff for theming
$primary: mat-palette($main, 600, 700, 800, 900);
$warning: mat-palette($error, 600, 700, 800, 900);

// include the custom theme components into a theme object
$theme: mat-light-theme($primary, $warning);

// include the custom theme object into the angular material theme
@include angular-material-theme($theme);