// Global styles
body, html {
    height: 100%;
}

a {
    text-decoration: none;

    &:hover {
        color: #595c5f !important;
    }
}

.btn-info {
    background-color: #85A9AB;
    border: unset;
    color: white;

    &:hover {
        background-color: #518587;
        color: white;
    }

    &:disabled {
        background-color: #A9C2C4;
        color: white;
    }
}