// Global styles
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


a {
    text-decoration: none;

    &:hover {
        color: #595c5f !important;
    }
}

.btn-info {
    background-color: #85A9AB;
    border: unset;
    color: white;

    &:hover {
        background-color: #518587;
        color: white;
    }

    &:disabled {
        background-color: #A9C2C4;
        color: white;
    }
}

h3 {
    font-size: 1.8rem !important;
    font-weight: 500 !important;
}

h4 {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
}

// Primary button styles
// Because of the angular material's theme we have to use !important
.btn-primary {
    background-color: white;
    color: black;
    border: #82acad;

    .fa-pen {
        color: #82acad;
    }

    .send {
        border: #82acad;
    }
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:disabled {
    background-color: #82acad !important;
    border-color: #82acad !important;
    color: white !important;

    .fa-pen {
        color: white !important;
    }
}