<mat-list>
    <div class="header-container">
        <div mat-subheader>Friend requests</div>
        <button mat-raised-button color="primary" class="compose-btn me-2" (click)="onAddNewFriend()"><i
                class="fa-solid fa-pen pe-2"></i>Add new friend</button>
    </div>
    <ng-container *ngIf="friendRequestList.length > 0; else noRequests">
        <mat-list-item *ngFor="let requestFriend of friendRequestList">
            <div class="friend-item">
                <img src="assets/images/duck_with_knife.jpg" alt="Profile Picture">
                <div>
                    <span class="name" mat-line>{{ requestFriend.friendOf }}</span>
                    <span mat-line>{{ requestFriend.friendOf }}</span>
                </div>
                <div class="acceptance-buttons">
                    <button mat-icon-button matTooltip="Accept friend request" [matTooltipShowDelay]="500"
                        [matTooltipPosition]="'above'" [matTooltipHideDelay]="1000">
                        <mat-icon>done</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Reject friend request" [matTooltipShowDelay]="500"
                        [matTooltipHideDelay]="1000" class="reject">
                        <mat-icon class="reject">clear</mat-icon>
                    </button>
                </div>
            </div>
        </mat-list-item>
    </ng-container>

    <ng-template #noRequests>
        <mat-list-item>
            <div>You currently have no friend requests.</div>
        </mat-list-item>
    </ng-template>
    <mat-divider class="mt-3"></mat-divider>
    <div class="header-container mt-2">
        <div mat-subheader>Friend list</div>
        <div class="search me-2">
            <input type="text" placeholder="Search.." [(ngModel)]="filter" (input)="onFilterFriendList()">
            <span><i class="fa fa-search"></i></span>
        </div>
    </div>

    <ng-container *ngIf="filteredFriendList.length > 0; else noFriends">
        <mat-list-item *ngFor="let friend of filteredFriendList">
            <div class="friend-item">
                <img src="assets/images/duck_with_knife.jpg" alt="Profile Picture">
                <div>
                    <span class="name" mat-line>{{ friend.friendOf }}</span>
                    <span mat-line>Since: {{ friend.from | date:'yyyy/MM/dd' }}</span>
                </div>
                <div class="acceptance-buttons">
                    <button mat-icon-button matTooltip="Delete friend" (click)="onDeleteFriend(friend.id)" [matTooltipShowDelay]="500"
                        [matTooltipHideDelay]="1000" class="reject">
                        <mat-icon class="reject">clear</mat-icon>
                    </button>
                </div>
            </div>

        </mat-list-item>
        <div class="mt-3">
            <mat-paginator [length]="friendList.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </ng-container>
    <ng-template #noFriends>
        <mat-list-item>
            <div>You currently have no friends.</div>
        </mat-list-item>
    </ng-template>
</mat-list>